.rbc-allday-cell {
  display: none;
}

.rbc-timeslot-group {
  min-height: 20px;
}

.rbc-time-gutter {
  height: 50px;
}

.rbc-time-view {
  border-left: none;
  border-top: none;
}

.rbc-today {
  background-color: transparent;
}

.rbc-current-time-indicator {
  display: none;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0;
}

.rbc-event {
  cursor: default;
}

.rbc-event:active,
.rbc-event:focus {
  border: none !important;
  outline: none !important;
}

.timeslot-event {
  background-color: rgba(59, 131, 246, 0.9);
  border-radius: 0;
  border: 0px !important;
  color: transparent;
  min-width: 100%;
  left: 0 !important;
}
