@reference "tailwindcss";

.rbc-allday-cell {
  display: none;
}

.rbc-timeslot-group {
  min-height: 20px;
}

.rbc-time-gutter {
  height: 50px;
}

.rbc-time-view,
.rbc-month-view {
  border-left: none;
  border-top: none;
}

.rbc-today {
  background-color: transparent;
}

.rbc-current-time-indicator {
  display: none;
}

.rbc-day-slot .rbc-events-container {
  margin-right: 0;
}

.rbc-event {
  cursor: default;
}

.rbc-event:active,
.rbc-event:focus {
  border: none !important;
  outline: none !important;
}

.timeslot-event {
  border-radius: 0;
  border: 0px !important;
  color: transparent;
  min-width: 100%;
  left: 0 !important;
  height: 100%;
}

.rbc-date-cell,
.edit-calendar .custom-date-header {
  @apply text-gray-500;
}

.rbc-header {
  @apply text-gray-600;
}

.rbc-row {
  display: flex !important;
}

.day-calendar .rbc-row .rbc-date-cell {
  height: 0;
  z-index: 10;
}

.edit-calendar .rbc-row .rbc-date-cell {
  height: 100%;
}
